/* Resetting default css */

* {
    margin: 0;
    padding: 0;
}


/* Displaying my Analog Clock */

#clock_container {
    background: url(images/clock.png) no-repeat;
    background-size: cover;
    height: 40vw;
    width: 40vw;
    margin: 5px auto;
    position: relative;
    /* padding: 5px; */
}

#hour_hand {
    height: 25%;
    width: 2%;
    background-color: black;
    position: absolute;
    top: 25%;
    left: 48.7%;
    border-radius: 20px;
    transform-origin: bottom;
    /* border: 2px solid black; */
    /* display: none; */
}

#minute_hand {
    height: 32%;
    width: 0.7vw;
    background-color: black;
    position: absolute;
    top: 18%;
    left: 49.25%;
    border-radius: 20px;
    transform-origin: bottom;
    /* border: 2px solid black; */
    /* display: none; */
}

#second_hand {
    height: 40%;
    width: 0.4vw;
    background-color: black;
    position: absolute;
    top: 10%;
    left: 49.5%;
    border-radius: 20px;
    transform-origin: bottom;
    /* border: 2px solid black; */
    /* display: none; */
}